{{import or from '~/helpers/or'}}
{{import noop from '~/helpers/noop'}}
{{import size from '~/helpers/size-support'}}

<button {{on 'click' (or @onClick (noop))}} type="{{if @btnType @btnType 'button'}}" class="btn {{size 'btn' this.args}} {{if @type @type 'default'}} {{if @isBlock 'btn-block'}} {{if @isActive 'active'}}" ...attributes>
  {{#if @icon}}
    <i class={{@icon}}></i>
  {{/if}}
  {{@title}}
  {{yield}}
</button>

