{{import or from '~/helpers/or'}}
{{import noop from '~/helpers/noop'}}
{{import size from '~/helpers/size-support'}}

<button
  {{on 'click' this.onClick}}
    type="{{if @btnType @btnType 'button'}}"
    class="btn {{size 'btn' this.args}} btn-{{if @type @type 'default'}} {{if @isBlock 'btn-block'}} {{if @isActive 'active'}}"
    disabled={{or this.isLoading @disabled}}
    ...attributes>
  {{#if @icon}}
    <i class={{@icon}}></i>
  {{/if}}
  {{@title}}
  {{yield}}
</button>

