<div class="page-header" style="margin-top: 0">
  <h4>The Popover Component</h4>
</div>

<div>
  <div style="width: 50px" {{bs-bind-popover title="the first popover" content="this is the first popover"}}>First</div>
  <div style="width: 50px" {{bs-bind-popover placement='right' title="the second popover" content="this is the second popover"}}>Second</div>
</div>
<br>

<div class="page-header" style="margin-top: 0">
  <h4>Doc</h4>
</div>


{{md-text
typographer = true
linkify     = false
text        = "
#### Attributes
- **title:** title of the popover
- **content:** body of the popover
- **placement:** `top`|`bottom`|`right`|`left`
- **html:** `true`|`false`, true for not escaping the title
- **template:** a template to render in the popover body
- **trigger:** `hover`|`click`|`focus`|`manual`
- **show:** `true`|`false`, to be used together with trigger `manual`
- **sticky:** `true`|`false`, to be used with `hover`, makes the tooltip to not dissappear when mouse is
  over the tooltip.

Or

Just pass one object with all attributes

#### Examples

at bottom of application.hbs:
```handlebars
{{bs-tooltipbox-handler}}
```
yes 'tooltip', since a popover is almost the same as a tooltip.

in other templates
```handlebars
<div {{bs-bind-popover title='a tooltip'}}></div>
<div {{bs-bind-popover tooltipdata}}></div>
```
"
}}
