{{import or from 'ember-bscomponents/helpers/or'}}
{{import noop from 'ember-bscomponents/helpers/noop'}}
<li class="nav-item {{if @isActive 'active'}}">
  <a class="" onclick="event.preventDefault();return false;" href="#" {{on 'click' (or @onItemSelected (noop))}}>{{yield}}{{@content}}</a>
</li>

