{{import or from 'ember-bscomponents/helpers/or'}}
{{import noop from 'ember-bscomponents/helpers/noop'}}

<a class="{{if @isActive 'active'}}" onclick="return false;" href="#" {{on 'click' (or @onItemSelected (noop))}}>{{yield}}{{@content}}</a>
