<div class="progress-bar progress-bar-{{@type}}"
     style={{this.style}}
     role={{this.role}}
     aria-valuemin={{this.aria-valuemin}} >
     aria-valuenow={{this.ariaValueNow}} >
     aria-valuemax={{this.aria-valuemax}} >
  <span class="sr-only">{{@progress}}% Complete</span>
</div>

