<div class="page-header" style="margin-top: 0">
  <h4>The Modal Component</h4>
</div>

{{log this}}
{{bs-button onClick=(action 'open' 'docs/bs-modal/test' this target=modalManager) title='show modal'}}

<br>
<div class="page-header" style="margin-top: 0">
  <h4>Doc</h4>
</div>

{{md-text
typographer = true
linkify     = false
text        = "
#### Attributes
- **onClose:** action to call when to modal closes
- **yields:**
-- **components:** header|body|footer
-- **action:** onClose

#### Example

include the component
```handlebars
{{bs-modal-handler}}
```
at the bottom of the application template, this is responsible for displaying modals

Invoke modal with javascript
--------------------------------
```javascript
export default Ember.Component.extend({
  modalManager: Ember.inject.service(),

  actions: {
    showModal() {
      //open(*path to a modal component*, *set as modalTarget*, *set as content*)
      this.get('modalManager').open('docs/bs-modal/test', this, {
        callback() {

        }
      });
    }
  }
})
```

Invoke modal from template
------------------------------
```handlebars
{{bs-button onClick=(action 'open' 'docs/bs-modal/test' this target=modalManager) title='show modal'}}

{{#bs-modal onClose=(action 'onClose') as |section|}}
  {{#section.header}}
    the header
  {{/section.header}}
  {{#section.body}}
    the body
  {{/section.body}}
  {{#section.footer}}
    the footer
    {{#bs-button onClick=section.onClose}}Close{{/bs-button}}
  {{/section.footer}}
{{/bs-modal}}
```

`this` will be set as `modalTarget`, so we can do
```handlebars
{{#bs-modal onClose=(action 'onClose') as |section|}}
  ...
  {{#section.footer}}
    the footer
    {{#bs-button onClick=(action 'doSomething' target=modalTarget)}}Close{{/bs-button}}
  {{/section.footer}}
{{/bs-modal}}
```
"
}}
