{{import Button from '../bs-button'}}
{{import ItemList from 'ember-bscomponents/components/bs-common/itemlist'}}
{{import noop from 'ember-bscomponents/helpers/noop'}}
{{import or from 'ember-bscomponents/helpers/or'}}
{{import size from 'ember-bscomponents/helpers/size-support'}}

<div class="btn-group {{size 'btn-group' this.args}}">
    <ItemList @itemComponent={{Button}} @content={{@items}} @onItemSelected={{fn (or @onItemSelected (noop))}} />
</div>

