{{#if hasBlock}}
  {{#unless isActive}}
    <a href="#">
      {{yield}}
    </a>
  {{else}}
    {{yield}}
  {{/unless}}
{{else}}
  {{#unless isActive}}
    <a href="#">
      {{content}}
    </a>
  {{else}}
    {{content}}
  {{/unless}}
{{/if}}

