<li class={{if @isActive 'active'}} >
  {{#if hasBlock}}
    {{#unless @isActive}}
      <a href="#" onclick="return false;" {{on 'click' (fn @onItemSelected @content)}}>
        {{yield}}
      </a>
    {{else}}
      {{yield}}
    {{/unless}}
  {{else}}
    {{#unless @isActive}}
      <a href="#" onclick="return false;" {{on 'click' (fn @onItemSelected @content)}}>
        {{@content}}
      </a>
    {{else}}
      {{@content}}
    {{/unless}}
  {{/if}}
</li>
