{{import or from '~/helpers/or'}}
{{import noop from '~/helpers/noop'}}

<div class="alert alert-{{or @type 'info'}}
  {{if this.fade 'fade'}}
  {{if this.show 'in'}}
  {{if @dismissible 'alert-dismissible'}}"
  {{did-insert this.setupDismiss}}
  {{did-update this.setupDismiss @dismissAfter}}
     role="alert">
  {{#if @dismissible }}
    <a class="close" href="#" {{on 'click' this.dismiss}}>&times;</a>
  {{/if}}
  {{@message}}
  {{yield}}
</div>

