<div class="alert alert-{{this.type}}
  {{if this.fade 'fade'}}
  {{if this.show 'in'}}
  {{if this.dismissible 'alert-dismissible'}}"
  role="alert">
  {{#if this.dismissible }}
    <a class="close" href="#" {{on 'click' this.dismiss}}>&times;</a>
  {{/if}}
  {{message}}
  {{yield}}
</div>
