<div class="page-header" style="margin-top: 0">
  <h4>The Pagination Component</h4>
</div>

{{bs-pagination totalLength=333 onItemSelected=(action (mut currentPage))}}
<br>
{{currentPage}}

<br>
<div class="page-header" style="margin-top: 0">
  <h4>Doc</h4>
</div>


{{md-text
typographer = true
linkify     = false
text        = "
#### Attributes
**totalLength:** `number`, *default:* 0
**itemsPerPage:** `number`, *default:* 10
**itemsPerGroup:** `number`, *default:* 10
**onItemSelected:** action executed on selection
#### Example
```handlebars
{{bs-pagination totalLength=35 onItemSelected=(action (mut currentPage))}}
<br>
{{currentPage}}
```"
}}