{{import Wormhole from 'ember-wormhole/components/ember-wormhole'}}
{{import didUpdate from '~/helpers/did-update'}}


<div style="display: none" {{did-insert (fn this.setParent)}}></div>
{{didUpdate (fn this.addTooltip) @targetElement @targetId @targetSibling this.parentElement}}
{{didUpdate this.updateOptions @show @triggerOn @sticky @title @content @placement}}

{{#if this.wormholeId}}
  <Wormhole style="display: none" @destinationElement={{this.wormholeId}} >
    {{yield}}
  </Wormhole>
{{/if}}
