<div class="arrow"></div>
{{#if title}}<h3 class="popover-title">{{title}}</h3>{{/if}}
<div class="popover-content">
  {{#if template}}
    {{partial partialTemplateName}}
  {{else}}
    {{#if content}}
      {{#if html}}
        {{{content}}}
      {{else}}
        {{content}}
      {{/if}}
    {{else}}
      {{yield}}
    {{/if}}
  {{/if}}
</div>
