{{import Progressbar from '../bs-progressbar'}}
{{import class-bind from '~/helpers/class-bind'}}

<div class="{{class-bind 'animated:active stripped:progress-striped' this.args}}">
  <Progressbar @progress={{@progress}} @type={{@progress}} />
</div>
