{{import BsPill from 'ember-bscomponents/components/bs-pill'}}
{{import is-equal from 'ember-bscomponents/helpers/is-equal'}}

<div class='{{class-bind "justified:nav-justified" this.args}}' ...attributes>
{{#each @content as |tab|}}
  {{#if hasBlock}}
    {{yield (hash
              item-component=(component BsPill isActive=(is-equal tab @selected) onItemSelected=@onItemSelected)
              item=tab
            )
    }}
  {{else}}
    {{#if @contentPath}}
      <BsPill @content={{get tab @contentPath}}
              @isActive={{is-equal tab @selected}}
              @onItemSelected={{fn @onItemSelected tab}}
      />
    {{else}}
      <BsPill @content={{tab}}
              @isActive={{is-equal tab @selected}}
              @onItemSelected={{fn @onItemSelected tab}}
      />
    {{/if}}
  {{/if}}
{{/each}}
</div>
