<div class="panel-heading">
  {{#if @withTitle}}
      <h4 class="panel-title">
        {{#if @collapsible}}
            <a class="accordion-toggle" role="button" href='#' aria-expanded="false" {{fn @toggleCollapsed}}>
              {{yield}}
            </a>
        {{else}}
          {{yield}}
        {{/if}}
      </h4>
  {{else}}
    {{#if @collapsible}}
        <a class="accordion-toggle" role="button" href='#' aria-expanded="false" {{fn @toggleCollapsed}}>
          {{yield}}
        </a>
    {{else}}
      {{yield}}
    {{/if}}
  {{/if}}
</div>
