<div class="page-header" style="margin-top: 0">
  <h4>The Tabs Component</h4>
</div>

{{#bs-tabs selected=(readonly tabs.lastObject) content=tabs as |tabbing|}}
  {{tabbing.tabs}}
  {{#tabbing.pane}}
    {{tabbing.selected}}
  {{/tabbing.pane}}
{{/bs-tabs}}


<br>
<div class="page-header" style="margin-top: 0">
  <h4>Doc</h4>
</div>


{{md-text
typographer = true
linkify     = false
text        = "
- **content:** list of items
- *yields*
-- components: `tabs`|`pane`
-- variable: `selected`

### Examples
Use as inline helper
```handlebars
{{#bs-tabs selected=(readonly tabs.lastObject) content=tabs as |tabbing|}}
  {{tabbing.tabs}}
  {{#tabbing.pane}}
    {{tabbing.selected}}
  {{/tabbing.pane}}
{{/bs-tabs}}
```
"
}}
