<div class="page-header" style="margin-top: 0">
  <h4>The Tooltip Component</h4>
</div>

<div>
  <p>Tight pants next level keffiyeh
    <a href="#" {{bs-bind-tooltip title="default tooltip"}}>you probably</a>
    haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
    Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel
    <a href="#" {{bs-bind-tooltip title="another tooltip"}}>have a</a>
    terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats.
    Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray.
    A really ironic artisan
    <a href="#" {{bs-bind-tooltip title="another one here too"}}>whatever keytar</a>,
    scenester farm-to-table banksy Austin
    <a href="#" {{bs-bind-tooltip title="the last tooltip"}}>twitter handle</a>
    freegan cred raw denim single-origin coffee viral.</p>
</div>
<br>
<a href="#" {{bs-bind-tooltip title="sticky tooltip" sticky=true}}>sticky</a>

<div class="page-header" style="margin-top: 0">
  <h4>Doc</h4>
</div>


{{md-text
typographer = true
linkify     = false
text        = "
#### Attributes
- **title:** title of the tooltip
- **placement:** `top`|`bottom`|`right`|`left`
- **html:** `true`|`false`, true for not escaping the title
- **template:** a template to render in the tooltip
- **trigger:** `hover`|`click`|`focus`|`manual`
- **show:** `true`|`false`, to be used together with trigger `manual`
- **sticky:** `true`|`false`, to be used with `hover`, makes the tooltip to not dissappear when mouse is
  over the tooltip.

Or

Just pass one object with all attributes

#### Examples
```handlebars
<div {{bs-bind-tooltip title='a tooltip'}}></div>
<div {{bs-bind-tooltip tooltipdata}}></div>
```
"
}}
